
#foot{
    background-color: #a9a9a9;;
    margin: auto;
    text-align: center;
    margin-top: 40px;
  }
  #foot #ikony{
   
   padding-top: 20px;
    
  }
  #foot #ikony a{
    
    margin: 0 15px;
    border: 2px solid white;
    background-color: white;
   
   padding: 10px;
   border-radius: 10px 10px;
   
  
  }
  
  
  #foot #ikony a {
    
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: black;
  
  }
    #foot #ikony a:nth-child(1)
  {
    padding-left: 15px;
    padding-right: 15px;
  }
  #prawa{
    margin-top: 20px;
    color: white;
    padding-bottom: 5px;
    font-size: 20px;
    
  }
   








