@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 200vh;
   background-color: #fff;
}

/* baner */

.banner{
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(images/mainPhoto.jpg);
  background-size: cover;
}
.container a{
  text-decoration: none;
}
/* tresc: oferty - wyglad */

  .container {
    max-width: 100%;
    margin: auto;
    overflow: auto;
    padding: 2rem 2rem;
  }
  
  .main-header {
    height: 55vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  
  /* .main-header h1 span {
    color: #b50d10;
  }
   */
  .main-header p {
    font-size: 2rem;
  }
  
  img {
    width: 100%;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 400px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

  /* media queries */

@media(max-width:700px) {
    .card {
      display: block;
    }
  }
  